<p>Here are the user guides to support you in this new recommitment process, including instructional videos:</p>

<ul>
<a href="https://bcdevex.atlassian.net/wiki/spaces/EA/pages/1642594483/EMCR+Only+Member+User+Manual">EMCR CORE Team Member User Guide</a>
<a href="https://bcdevex.atlassian.net/wiki/spaces/EA/pages/1643839525/BCWS+Only+Member+User+Manual">BCWS CORE Team Member User Guide</a>
<a href="https://bcdevex.atlassian.net/wiki/spaces/EA/pages/1642659867/Dual+CORE+Program+Member+User+Manual">CORE Team Member for BOTH programs</a>
</ul>


