<p><span>What you need to do:
<ol>
<li><span>Supervisor approval</span> is required for your return to CORE Team each year. Before proceeding, please first have a conversation with your current supervisor to discuss the possibility of your return to CORE Team this year.</li>
<li>Log in to your CORE dashboard, then <span>click "Make Recommitment Decision" to confirm or decline your recommitment status before {{date}}.</span> Please refer to the link below to find your program specific user guide.</li> 
<ul>
  <li><a href="https://emcr.atlassian.net/wiki/spaces/EA/overview?homepageId=164134924">CORE Team Program Member Guide</a></li>
</ul>

<li>Once you have confirmed your return to CORE, your supervisor will be notified to give approval/decline your request. If your supervisor approves of your recommitment, your member status will be automatically updated to "Recommitted" for {{year}}. </li>
</ol>

<p><span>If you plan to recommit to BCWS CORE Team:</span></p>
<p>You can now directly fill in your PAR-Q+ response as part of the recommitment process in your dashboard. <span>Your PAR-Q+ responses will NOT be recorded; you must download your response once completed and email it to your Fire Centre.</span> If you have any concerns about your health conditions that may affect your deployment in the upcoming year, please inform your CORE coordinator.</p>

<p>To complete the PAR-Q+, <span>you must have a witness signature.</span> Please make sure you have found someone to be your witness before starting recommitment.</p>

{% include "blocks/member-button.njk" %}

