<ol>
<li>Speak to your current supervisor to discuss the possibility of your return to CORE this year. <span>Supervisor approval is required for your return</span> to CORE each year.</li>
<li>Log into your CORE dashboard to confirm or decline your participation for the upcoming year before <span>{{date}}</span>. Once you have confirmed your return to CORE, your supervisor will be notified to give approval/decline your request. </li>
<li>If your supervisor approves of your recommitment, your member status will be automatically updated to "Recommitted" for {{year}} and you will remain an active member of the approved program. </li>
</ol>