<ol>
<li>Speak to your current supervisor to discuss the possibility of your return to CORE Team this year. <span>Supervisor approval is required for your return</span> to CORE Team each year.</li>
<li>Log in to to your CORE Team dashboard by clicking "Go to My Dashboard" to confirm your participation for the upcoming year before {{date}}. Please refer to the links below to find your program specific user guide.</li>
<ul>
  <li><a href="https://emcr.atlassian.net/wiki/external/NTJkNjNiMDViYjU0NGVhN2I1MWY5ZDA0ZGZkM2IzYmY">BCWS CORE Team Program Member Guide</a></li>
  <li><a href="https://emcr.atlassian.net/wiki/external/MDY2MDI1NmQwODZkNGQwNmFhNWE1NDM3ZGFjMmQxMTI">EMCR CORE Team Program Member Guide</a></li>
  <li><a href="https://emcr.atlassian.net/wiki/external/MThiNjZlY2ZmZTA5NDU3ZDk5ZWYyMGRhNjRlOTViODA">Dual CORE Team Program Member Guide</a></li>
</ul>
<li>Once you have confirmed your return to CORE Team, your supervisor will be notified to give approval/decline your request.</li>
<li>If your supervisor approves of your recommitment, your member status will be automatically updated to "Recommitted" for 2025 and you will remain an active member of the approved program.</li>

<p><span>If you plan to recommit to BCWS:</span></p>
<p>You can now directly fill in your PAR-Q+ response as part of the recommitment process in your dashboard. <span>Your PAR-Q+ responses will NOT be recorded; you must download your response once completed and email it to your Fire Centre.</span> If you have any concerns about your health conditions that may affect your deployment in the upcoming year, please inform your CORE coordinator.</p>

<p>To complete the PAR-Q+, <span>you must have a witness signature.</span> Please make sure you have found someone to be your witness before starting recommitment.</p>

{% include "blocks/member-button.njk" %}