<p><span>What you need to do:
<ol>
<li><span>Supervisor approval</span> is required for your return to CORE each year. Before proceeding, please first have a conversation with your current supervisor to discuss the possibility of your return to CORE this year.</li>
<li>Log in to your CORE dashboard to confirm or decline your recommitment status before <span>{{date}}</span>. Please refer to the <a href="https://bcdevex.atlassian.net/wiki/spaces/EA/pages/1506639992/CORE+Team+Application+User+Manual">CORE Team Application User Manual</a> for instructions (click on the applicable member user guide).</li>
<li>Once you have confirmed your return to CORE, your supervisor will be notified to give approval/decline your request. If your supervisor approves of your recommitment, your member status will be automatically updated to "Recommitted" for {{year}}. </li>
</ol>

<p><span>If you plan to recommit to BCWS:</span></p>
<p>You can now directly fill in your PAR-Q+ response as part of the recommitment process in your dashboard. <span>Your PAR-Q+ responses will NOT be recorded; you must download your response once completed and email it to your Fire Centre.</span> If you have any concerns about your health conditions that may affect your deployment in the upcoming year, please inform your CORE coordinator.</p>

<p>To complete the PAR-Q+, <span>you must have a witness signature.</span> Please make sure you have found someone to be your witness before starting recommitment.</p>

{% include "blocks/member-button.njk" %}

