<p>Here are the user guides to support you in this new recommitment process, including instructional videos:</p>

<ul>
<li><a href="https://emcr.atlassian.net/wiki/spaces/EA/overview?homepageId=164134924">CORE Team Member User Guide</a></li>
</ul>


