{% if emcr %}
  <a href="mailto:EMCR.CORETEAM@gov.bc.ca">EMCR.CORETEAM@gov.bc.ca</a>
{% elif bcws %}
    <a href="mailto:BCWS.CORETEAM@gov.bc.ca">BCWS.CORETEAM@gov.bc.ca</a>
{% else %}
    <a href="mailto:EMCR.CORETEAM@gov.bc.ca">EMCR.CORETEAM@gov.bc.ca</a> or <a href="mailto:BCWS.CORETEAM@gov.bc.ca">BCWS.CORETEAM@gov.bc.ca</a>
{% endif %} 