<p>For more resources, visit:</p>
<ul>
  <li>
    <a
      href="https://intranet.gov.bc.ca/bcws/core-team"
      target="_blank"
      class="text-link"
      rel="noreferrer"
    >
      BCWS CORE Team Intranet Page
    </a>
  </li>
  <li>
    <a
      href="https://intranet.gov.bc.ca/emcr/employees-workplace/hr/core-team"
      target="_blank"
      class="text-link"
      rel="noreferrer"
    >
      EMCR CORE Team Intranet Page
    </a>
  </li>
</ul>

<p>CORE Team member user manuals:</p>
<ul>
  <li>
    <a
      href="https://emcr.atlassian.net/wiki/x/lJPICQ"
      target="_blank"
      class="text-link"
      rel="noreferrer"
    >
      BCWS CORE Team user manual
    </a>
  </li>
  <li>
    <a
      href="https://emcr.atlassian.net/wiki/x/YofICQ"
      target="_blank"
      class="text-link"
      rel="noreferrer"
    >
      EMCR CORE Team user manual
    </a>
  </li>
  <li>
    <a
      href="https://emcr.atlassian.net/wiki/x/1MLICQ"
      target="_blank"
      class="text-link"
      rel="noreferrer"
    >
      User manual for members in both streams
    </a>
  </li>
</ul>