

<p><span>What you need to do:</span></p>

<ol>
  <li>Have a conversation with your employee.</li>
  <li>Log in to your supervisor portal with your IDIR to approve or decline this member’s CORE Team participation for {{year}} <span>before {{date}}</span> Please refer to the <a href="https://emcr.atlassian.net/wiki/spaces/EA/overview?homepageId=164134924">Supervisor User Manual</a> for further instructions.</li>
  <li>If you choose to decline a member’s participation, please provide a reason with the survey tool provided in the portal.</li>
  <li>After choosing your decision, click “Submit”. CORE Team coordinators and your employee will be notified of your decision.</li>
</ol>
