

<p><span>What you need to do:</span></p>

<ol>
  <li>Have a conversation with your employee.</li>
  <li>Log in to your supervisor portal with your IDIR to approve or decline this member’s CORE participation for {{year}} before <span>{{date}}</span> Please refer to the <a href="https://emcr.atlassian.net/wiki/external/ZjUyZGI4ZWU5M2RlNDJlODkyMDA4MjM5MzU0NGNlYWI">Supervisor User Manual</a> for further instructions.</li>
  <li>If you choose to decline a member’s participation, please provide a reason with the survey tool provided in the portal.</li>
  <li>After choosing your decision, click “Submit”. CORE coordinators and your employee will be notified of your decision.</li>
</ol>
