

<p>For more information, please visit: </p>

<ul>
  <li><a href="https://intranet.gov.bc.ca/emcr/employees-workplace/hr/core-team">EMCR CORE Team</a></li>
  <li><a href="https://intranet.gov.bc.ca/bcws/core-team">BCWS CORE Team</a></li>
</ul>

<p>For questions, please contact us at:</p>

<ul>
  <li><a href="mailto:EMCR.CORETeam@gov.bc.ca">EMCR.CORETeam@gov.bc.ca</a></li>
  <li><a href="mailto:BCWS.CORETeam@gov.bc.ca">BCWS.CORETeam@gov.bc.ca</a></li>
</ul>

<p>Thank you so much for your ongoing support!</p>