.BC-Gov-PrimaryButton {
  background-color: #003366;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family:
    ‘BCSans’,
    ‘Noto Sans’,
    Verdana,
    Arial,
    sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
}

.BC-Gov-PrimaryButton:hover {
  text-decoration: underline;
  opacity: 0.8;
}

:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

.BC-Gov-PrimaryButton:active {
  opacity: 1;
}
/* HTML
  -
  Dark
  Background
  <button
  class='BC-Gov-PrimaryButton-Dark'
  type='button'
  name='button'
  > Submit</button
  > CSS
  -
  Dark
  Background */
.BC-Gov-PrimaryButton-Dark {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #313132;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family:
    ‘BCSans’,
    ‘Noto Sans’,
    Verdana,
    Arial,
    sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
}

.BC-Gov-PrimaryButton-Dark:hover {
  text-decoration: underline;
  background-color: #f2f2f2;
}

:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

.BC-Gov-PrimaryButton-Dark:active {
  background-color: #fff;
}

.background-colour {
  background-color: #003366;
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BC-Gov-SecondaryButton {
  background: none;
  border-radius: 4px;
  border: 2px solid #003366;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family:
    ‘BCSans’,
    ‘Noto Sans’,
    Verdana,
    Arial,
    sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  color: #003366;
}
.BC-Gov-SecondaryButton:hover {
  opacity: 0.8;
  text-decoration: underline;
  background-color: #003366;
  color: #ffffff;
}
:focus {
  outline-offset: 1px;
  outline: 4px solid #3b99fc;
}
.BC-Gov-SecondaryButton:active {
  opacity: 1;
}

.BC-Gov-PrimaryButton-disabled {
  background-color: #003366;
  opacity: 0.3;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family:
    ‘BCSans’,
    ‘Noto Sans’,
    Verdana,
    Arial,
    sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: not-allowed;
}

.BC-Gov-SecondaryButton-disabled {
  background-color: white;
  opacity: 0.3;
  border: 2px solid #003366;
  border-radius: 4px;
  color: #003366;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family:
    ‘Noto Sans’,
    Verdana,
    Arial,
    sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: not-allowed;
  width: 100%;
}
