th {
  //stylename: 700 / p;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
td {
  //stylename: 400 / p;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

td .status {
  width: 86px;
  height: 30px;
  border: 1px;
  padding: 2px, 18px, 2px, 18px;
}
