a {
  @apply outline-none focus:outline-none;
}
h1 {
  @apply text-dark-800;
  font-size: 37.32px;
  font-weight: 400;
  line-height: 59.7px;
}
h2 {
  @apply text-dark-800;
  font-size: 31px;
  font-weight: 400;
  line-height: 49px;
}
h3 {
  @apply text-dark-800;
  font-size: 25.92px;
  font-weight: 400;
  line-height: 41.5px;
}

h4 {
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
}
h5 {
  @apply text-dark-800;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
p {
  @apply text-dark-800;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

label {
  @apply text-dark-800;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.subtext {
  @apply text-defaultGray;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px; 
}

input::placeholder {
  @apply text-defaultGray font-normal text-sm;

}

input::-ms-input-placeholder { /* Edge 12 -18 */
  @apply text-defaultGray font-normal text-sm;
}
