a {
  @apply outline-none focus:outline-none;
}
h1 {
  @apply text-dark;
  font-size: 37.32px;
  font-weight: 400;
  line-height: 59.7px;
}
h2 {
  @apply text-dark;
  font-size: 31.10px;
  font-weight: 400;
  line-height: 49.8px;

}
h3 {
  @apply text-dark;
  font-size: 37.32px;
  font-weight: 400;
  line-height: 41.5px;
}

h4 {
  @apply text-dark;
  font-size: 21.6px;
  font-weight: 400;
  line-height: 34.6px;
}

p {
  @apply text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

label {
  @apply text-dark;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}