h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
}
h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
h5 {
}
h6 {
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
