{% extends "layout.njk" %}

{% block content %}

<p>Thank you for submitting your application to join CORE Team. This is to confirm that our team has received your application and will be reviewing it soon.</p>
<br />
<p> A CORE Team coordinator may reach out to you in the next 7 to 10 working
    days via email to further assess your experience and deployment
    readiness. Our response time may vary depending on ongoing operational
    tasks such as responding to emergency and wildfire across the province.
</p>
<br />
<p>Please be aware that duplicate submissions will NOT be considered.</p>

{% endblock %}