{% extends "layout.njk" %}

{% block content %}

<p>Hello {{name}},</p>

<p>Thank you for submitting your application to join CORE Team. Our team will be reviewing your application soon.</p>
<p>
  <span>Please remember to email your proof of supervisor approval and all other
  required documents relevant to the program stream(s) you applied for:</span>
</p>

<p>
  <span >EMCR CORE Team program stream</span> (submit proof of
  completion to
  <a class="text-link" href="mailto:EMCR.CORETeam@gov.bc.ca"
    >EMCR.CORETeam@gov.bc.ca</a
  >)
</p>

<ul>
  <li>
    <a
      href="https://www2.gov.bc.ca/gov/content/careers-myhr/forms-tools/all-employees"
      target="_blank"
      class="text-link"
      rel="noreferrer"
    >
      Incident Command System (ICS) Training
    </a>
  </li>
</ul>

<p>
  <span>BCWS CORE Team program stream</span> (submit proof of completion to your Fire Centre’s email address - see “Key Contacts” at the bottom right of the 
  <a
    href="https://intranet.gov.bc.ca/bcws/core-team"
    target="_blank"
    class="text-link"
    rel="noreferrer"
    >BCWS Home page</a
  >)
</p>

<ul>
  <li>
    <a
      href="https://www.for.gov.bc.ca/ftp/HPR/gov_internal/!publish/BCWS%20Intranet/Staff%20Development/Wildfire%20TEAMS%20Orientation%20-%20Storyline%20output/story.html"
      target="_blank"
      className="text-link"
      rel="noreferrer"
    >
      “Intro to CORE”
    </a>
    online orientation
  </li>
  <li>
    <a
      href="https://intranet.gov.bc.ca/assets/intranet/bcws-intranet/wildfire-teams/documents/willingness_statement_-_last_updated_feb_2025.pdf"
      target="_blank"
      className="text-link"
      rel="noreferrer"
    >
      Willingness Statement
    </a>
  </li>
  <li>
    <a
      href="https://www.for.gov.bc.ca/ftp/hpr/gov_internal/!Publish/wmb/TEAMS/PARQ.pdf"
      target="_blank"
      className="text-link"
      rel="noreferrer"
    >
      PAR-Q+ form
    </a>
    (please download this form for completion)
  </li>
</ul>

<p>
  Only applicants with the required documents and skills for emergency
  deployments will be contacted via email. Response times may vary based on
  operational demands.
</p>

<p>
  You can go to your dashboard to view and make changes to your profile by
  clicking “Go to My Dashboard”.
</p>

{% include "blocks/member-button.njk" %}

{% include "blocks/resources.njk" %}

<br/>

{% endblock %}