{# supervisor - requested # }
{% extends "layout.njk" %}

{% block content %}
<p>The following employee has requested to recommit to the CORE program for {{year}}:</p>

{% include "blocks/member-program.njk" %}
 
As their supervisor, you have the authority to approve or decline their participation in CORE for the upcoming year.

<p>Please note that this email is simply requesting your approval for the member’s participation in CORE. Once they are recommitted, <span>supervisor approval is still required for each deployment. You are NOT obligated to approve every deployment just because you have given approval for recommitment.</span></p>

{% include "blocks/steps.njk" %}
{% include "blocks/resources.njk" %}

<p>Thank you so much for your ongoing support!</p>

{% endblock %}

{# year #}
{# member #}
{# program #}