
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

h1 {
  color: red;
}
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #D9EAF7;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    padding: 20px 0px;
  }

  .content-wrapper {
    text-align: left;
    padding: 32px 20px;
    background-color: #ffffff;
  }


  .content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 20.95px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .content span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    font-weight: 700;
    line-height: 20.95px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

   .content ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 20.95px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .content a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    font-weight: 400;
    line-height: 20.95px;
    text-align: left;
    
  }



   #link-button {
    padding: 12px 24px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #003366;
    font-weight: bold;
    margin: 24px 0px;
  }

  
  .footer {
    text-align: center;
    padding: 20px;
    color: #999999;
    font-size: 12px;
    background-color: #F6F9FC;
  }

  .button-div {
    padding: 24px 0px;
  }

</style>


<body>
  <div class="container">

    <div class="header">
      {% include "logo.njk" %}
    </div>
    {% include "blocks/env.njk" %}
    <div class="content-wrapper">
      <div class="content">
        
        {% block content %}{% endblock %}
        <div>
        
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut quam mi. Proin vulputate justo at velit aliquam, fringilla mattis ipsum rhoncus. Suspendisse quis arcu ac quam malesuada placerat sit amet a libero. Integer eu sollicitudin ex. Proin tempus nibh eros, sit amet hendrerit dolor feugiat ac. Duis aliquet at elit nec ullamcorper. Nulla et mollis risus. Duis finibus ligula et metus scelerisque, a rhoncus ante malesuada. In nunc lectus, tincidunt vitae nisi non, elementum tempor nulla.</p>
<p>Nullam placerat nibh eros, ac finibus sapien aliquet vel. Vestibulum nec velit mattis, aliquam nisi id, maximus justo. Praesent eget dictum sem. Vivamus accumsan, est et vulputate rhoncus, nisl diam luctus massa, vitae finibus ex tellus non nulla. Pellentesque pharetra erat mi, ut gravida sapien imperdiet non. Etiam blandit ex sed efficitur vestibulum. Sed ullamcorper magna id metus congue feugiat. Nullam eleifend consectetur faucibus. Fusce ut metus at odio ullamcorper tincidunt non id ante. Aenean feugiat ultricies mi eu elementum. Suspendisse fermentum vehicula ante, vitae pellentesque turpis tristique at. Donec enim libero, imperdiet in malesuada sed, mollis eget nulla.</p>
<p>Aliquam ac volutpat massa, nec commodo urna. Vivamus ac elit id orci varius luctus. Donec vitae mattis tellus. Curabitur efficitur malesuada tortor, sed scelerisque diam interdum eget. Quisque sit amet quam sagittis sem rhoncus viverra. Duis bibendum nunc at nunc imperdiet, et pharetra est gravida. Proin congue urna mauris, sed pulvinar ipsum iaculis et.</p>
<p>Integer nunc erat, ullamcorper quis luctus at, sodales vel enim. Nullam lacus massa, auctor ut mauris sed, dignissim pellentesque lorem. Aliquam eu urna felis. Suspendisse ultricies est leo, eu pretium augue aliquam vulputate. Sed vulputate turpis ex, eleifend porttitor elit vestibulum sit amet. Nunc sit amet justo nunc. Sed blandit, velit ac egestas ultrices, purus dolor vulputate massa, sed auctor erat elit quis ante.</p>
<p>Nam tempor nulla id ante placerat, id ornare massa auctor. Fusce tellus sapien, scelerisque non ante vel, elementum lacinia erat. Curabitur a suscipit dolor. Donec facilisis in elit in posuere. Integer tincidunt porta urna. In sit amet sagittis purus, a ultrices dui. Vivamus scelerisque nunc in augue molestie pretium. Nulla sed mi eu velit tristique tincidunt. Pellentesque commodo et ipsum fringilla luctus. Duis ullamcorper magna eros, nec molestie lacus iaculis sit amet. Pellentesque tempor et turpis vitae lacinia. Curabitur mollis est sed scelerisque aliquam. Fusce lobortis arcu quis egestas pretium. Vivamus molestie neque eu massa facilisis euismod.</p>
        </div>
      </div>
    </div>
  </div>
</body>