

<p>For more information, please visit: </p>
<ul>
<li><a href="https://intranet.gov.bc.ca/emcr/employees-workplace/hr/core-team">BCWS CORE Team</a></li>
<li><a href="https://intranet.gov.bc.ca/bcws/core-team">EMCR CORE Team</a></li>
</ul>


