

<p>For more information, please visit the following resources: </p>
<ul>
<li><a href="#">What is CORE</a>?</li>
<li><a href="#">FAQs</a></li>
<li><a href="#">EMCR Supervisor resources </a></li>
<li><a href="#">BCWS Supervisor resources </a></li>
</ul>

