
{% extends "layout.njk" %}

{% block content %}

<p>As we prepare for the upcoming {{year}} year, we kindly remind you to confirm your recommitment to CORE.</p> 

<p><span>What you need to do:</span></p>
<ol>
<li><span>Supervisor approval</span> is required for your return to CORE each year. Before proceeding, please first have a conversation with your current supervisor to discuss the possibility of your return to CORE this year. </li>
<li>Login to your CORE dashboard and confirm or decline your recommitment status <span>before {{date}}</span>.</li>
<li>Once you have confirmed your return, your supervisor will be notified to approve/decline your request. If your supervisor approves of your recommitment, your member status will be updated to “Recommitted” for {{year}}.</li>

<p><span>If you plan to recommit to BCWS: </span></p>
<p>You can now directly fill in your PAR-Q+ response as part of the recommitment process in your dashboard. <span>Your PAR-Q+ responses will NOT be recorded; you must download your response once completed and email it to your Fire Centre.</span> If you have any concerns about your health conditions that may affect your deployment in the upcoming year, please inform your CORE coordinator.</p>

<p>To complete the PAR-Q+, <span>you must have a witness signature.</p> Please make sure you have found someone to be your witness before starting recommitment.</p> 

{% include "blocks/member-button.njk" %}
<p>If you have any questions or need further assistance, feel free to reach out to: <a mailto="EMCR.CORETeam@gov.bc.ca">EMCR.CORETeam@gov.bc.ca</a> or <a mailto="BCWS.CORETeam@gov.bc.ca">BCWS.CORETeam@gov.bc.ca</a>.</p>
<p>Thank you for your continued dedication to the CORE program. We look forward to another successful year!</p>
{% endblock %}


