{% extends "layout.njk" %}

{% block content %}

<p> This is to confirm that you have <span>declined your recommitment to CORE for 2025.</span></p>
<p><span>Program Declined:</span>{{program}}</p>
<p><span>Reason for Declining:</span>{{reason}}</p>
<p>We are sorry to see you go! We hope to welcome you back to CORE in the future. If you wish to change your decision,
  please do so before <span>{{date}}</span>. Note that you can only change your recommitment decision <span>one more
    time.</span></p>
{% endblock %}