
{% extends "layout.njk" %}

{% block content %}

<p>Hello {{supervisor}},</p>

<p>The following employee has requested to recommit to the CORE program for {{year}}:</p>

{% include "blocks/member-program.njk" %}
 
As their supervisor, you have the authority to approve or decline their participation in CORE for the upcoming year.

<p>Please note that this email is simply requesting your approval for the member’s participation in CORE. Once they are recommitted, <span>supervisor approval is still required for each deployment. You are NOT obligated to approve every deployment just because you have given approval for recommitment.</span></p>

{% include "blocks/steps.njk" %}
{% include "blocks/supervisor-button.njk" %}
{% include "blocks/resources.njk" %}

<p>If you have any questions or need further assistance, feel free to reach out to: <a href="mailto:EMCR.CORETeam@gov.bc.ca">EMCR.CORETeam@gov.bc.ca</a> or <a href="mailto:BCWS.CORETeam@gov.bc.ca">BCWS.CORETeam@gov.bc.ca</a>.</p>

<p>Thank you so much for your ongoing support!</p>

{% endblock %}

