{% extends "layout.njk" %}

{% block content %}

<p>Hello {{supervisor}},</p>

<p>You are receiving this email because one or more of your employees have been members of the CORE Team program. If you are no longer a supervisor for a CORE member, please disregard this email.</p>

<p>As we begin the new year, we want to remind you that it’s recommitment time for the program. Some of your team members may wish to return this season, and they’ll likely reach out to discuss their participation for {{year}}. Please be aware that <span>you’ll need to give approval for their recommitment before {{date}} .</span></p>

<p>No action is required from you at this time, but once a member confirms their interest, you’ll receive further instructions to approve or decline their participation.</p> 

{% include "blocks/resources.njk" %}

<p>If you have any questions or need further assistance, feel free to reach out to: <a href="mailto:EMCR.CORETeam@gov.bc.ca">EMCR.CORETeam@gov.bc.ca</a> or <a href="mailto:BCWS.CORETeam@gov.bc.ca">BCWS.CORETeam@gov.bc.ca</a>.</p>

<p>Thank you for your ongoing support!</p>

{% endblock %}