{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p> This is to confirm that you have <span>declined your recommitment to CORE Team for {{year}}.</span></p>

<p><span>Program Declined: </span> {{program}} CORE Team</p>
<p><span>Your Selected Reason: </span> {{member}}</p>

<p>We are sorry to see you go! We hope to welcome you back to CORE Team in the future. If you wish to change your decision,
please do so before <span>{{date}}</span>. Note that you can only change your recommitment decision <span>one more time.</span></p>

{% endblock %}