{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>We’re still waiting to hear back from you about your CORE recommitment for {{year}}! To ensure your continued participation in CORE, please take a moment to update your recommitment status and verify your profile and supervisor information with the following steps:</p>

{% include "blocks/member-steps.njk" %}

<p>Your prompt confirmation will help us finalize your participation for the upcoming year.</p>

<p>If you have any questions or need further assistance, feel free to reach out to: {% include "blocks/program-contact.njk" %}</p>

{% endblock %}