{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>We regret to inform you that your recommitment to the <span>CORE {{program}} program for {{year}}</span> has been <span>declined by your supervisor.</span></p>

<p>If you still wish to participate in CORE this year, we encourage you to speak directly with your supervisor to discuss the possibility of reconsideration. Should it not be feasible for you to join this year, we look forward to seeing you next year and will be happy to welcome you back in the future.</p>

{% endblock %}