
{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>As we prepare for the upcoming {{year}} year, we kindly remind you to confirm your recommitment to CORE.</p> 

{% include "blocks/member-steps.njk" %}

<p>If you have any questions or need further assistance, feel free to reach out to: {% include "blocks/program-contact.njk" %}</p>

<p>Thank you for your continued dedication to the CORE program. We look forward to another successful year!</p>
{% endblock %}




