{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>We are pleased to inform you that your supervisor has approved your recommitment to the <span>CORE {{program}} program</span> for {{year}}.</p>

<p>With this approval, your status in CORE will remain "Active" for {{year}}, meaning that you will be a deployable member to {{program}} CORE coordinators for emergency activations throughout the upcoming year.<p>

<ol>
<li>Log in to your member dashboard to ensure that your member profile is up to date.</li>
<li>In the "Deployments & Availability" tab in your dashboard, please update your availability for the next 1-3 months. </li>
</ol>


{% include "blocks/member-button.njk" %}
<p>If you have any questions or need further assistance, feel free to reach out to:</p>
{% include "blocks/program-contact.njk" %}

<p>We appreciate and look forward to your continued efforts in CORE to make BC a safer place for citizens.</p>


{% endblock %}