{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>Since we have not received any action from your supervisor to approve your recommitment for {{year}}, your {{program}} CORE Team member status has been set to "Inactive”. This means you will not be called for deployments this year.</p>

<p>If you would still like to participate in CORE Team this year, please speak to your supervisor and reach out to your CORE Team coordinator. If you prefer to remain inactive, you may disregard this email.</p>

{% endblock %}