{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>Since no action was taken on your end to confirm your recommitment for {{year}}, your CORE member status for {{program}} has been set to "Inactive”. This means you will not be called for deployments this year.</p>

<p>If you would still like to participate in CORE this year, please reach out to your CORE coordinator. If you prefer to remain inactive, you may disregard this email.</p>

{% endblock %}