{% extends "layout.njk" %}

{% block content %}

<p>Hello {{member}},</p>

<p>You are receiving this email because you missed the initial recommitment deadline but expressed interest to us in returning to CORE Team for {{year}}. Your CORE Team coordinator has temporarily reactivated the recommitment process for you.</p>

<p><span>Please confirm your recommitment before {{date}} using the following the instructions:</span></p>

{% include "blocks/member-steps.njk" %}


<p>Your prompt confirmation will help us finalize your participation for the upcoming year.</p>

<p>If you have any questions or need further assistance, feel free to reach out to: {% include "blocks/program-contact.njk" %}</p>

{% endblock %}