name: Tests pipeline

on:
  workflow_dispatch:
  pull_request:

env:
  ENV: ci
  KEYCLOAK_AUTH_URL: ${{ secrets.KEYCLOAK_AUTH_URL }}
  KEYCLOAK_REALM: ${{ secrets.KEYCLOAK_REALM }}
  KEYCLOAK_CLIENT: ${{ secrets.KEYCLOAK_CLIENT }}
  KEYCLOAK_USER: ${{ secrets.KEYCLOAK_USER }}
  KEYCLOAK_PASSWORD: ${{ secrets.KEYCLOAK_PASSWORD }}

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: checkout
        uses: actions/checkout@v3
      
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Setup ENV file
        run: cp .env.example .env

      - name: Install Backend Dependencies
        run: cd backend && npm ci

      - name: Install Frontend Dependencies
        run: cd frontend && npm ci

      - name: Run Docker containers
        run: make build-test

      - name: Run Migrations
        run: make migration-run

      - name: Seed Test Locations/Functions
        run: make seed-data

      - name: Run Backend Tests
        run: make test-backend-pipeline

      - name: Run Frontend Tests
        run: make test-frontend-pipeline
      
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: ./frontend/cypress/screenshots

      - name: Stop containers
        run: make close
        if: ${{ always() }}
